{% load staticfiles %}

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, intial-scale=1.0" />
  <meta name="author" content="Silberschmiede Thun GmbH" />
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <link rel="stylesheet" href="{% static 'css/uikit.css' %}" />
  <script src="{% static 'js/uikit.min.js' %}"></script>
  <script src="{% static 'js/uikit-icons.min.js' %}"></script>
  <link
    rel="shortcut icon"
    href="{% static 'images/favicon.ico' %}"
    type="image/x-icon"
  />
  <link
    rel="icon"
    href="{% static 'images/favicon.ico' %}"
    type="image/x-icon"
  />
  <title>Silberschmiede Thun</title>
</head>
