{% load static %}

<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, intial-scale=1.0" />
    <meta name="author" content="Silberschmiede Thun GmbH" />
    <link rel="stylesheet" href="{% static 'css/uikit.min.css' %}" />
    <script src="{% static 'js/uikit.min.js' %}"></script>
    <script src="{% static 'js/uikit-icons.min.js' %}"></script>
    <title>Silberschmiede Thun</title>
  </head>
  <body>
    <!-- <div class="" -->
  </body>
</html>
