{% load staticfiles %}

<!DOCTYPE html>
<html lang="de">
  {% include 'head.html' %}
  <body>
    {% include 'navbar.html' %}
    <div class="uk-container uk-container-small">
      <div class="uk-inline">
        <img src="{% static 'images/laden_cropped.png' %}" alt="" />
        <div class="uk-overlay-primary uk-position-top">
          <p class="uk-text-large" style="margin: 10px 0 20px 20px">
            Silberschmiede-Thun GmbH<span class="uk-text-small">
              - Yvonne Schediwy und Sara Lehmann</span
            >
          </p>
        </div>
        {% block content %}
          {% placeholder "feature" %}
          {% placeholder "content" %}
          {% placeholder "splashbox" %}
        {% endblock content %}
        {% include 'sidebar.html' %}
      </div>
    </div>
  </body>
  {% include 'footer.html' %}
</html>
