{% load staticfiles %}

<!DOCTYPE html>
<html lang="de">
  {% include 'head.html' %}
  <body>
    <div class="uk-container uk-container-small">
      {% include 'navbar.html' %}
      <div class="uk-inline">
        <img src="{% static 'images/laden_cropped.png' %}" alt="">
        <div class="uk-overlay uk-overlay-primary uk-position-top">
          <p class="uk-text-large">Silberschmiede-Thun GmbH<span class="uk-text-small"> - Yvonne Schediwy und Sara Lehmann</span></p>
        </div>
      </div>
  </body>
</html>
