{% load staticfiles %}
<div id="fb-root"></div>
<script
  async
  defer
  crossorigin="anonymous"
  src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2"
></script>
<div class="sidebar">
  <p>
    Thun:<br />
    Obere Hauptgasse 66<br />
    3600 Thun<br />
    033 221 55 44<br />
    <br />
    Bern:<br />
    Kramgasse 3<br />
    3011 Bern<br />
    031 503 15 45<br />
    <br />
    <a href="mailto:info@silberschmiede-thun.ch">info@silberschmiede-thun.ch</a>
  </p>
  <div
    class="fb-page"
    data-href="https://www.facebook.com/silberschmiedethun"
    data-small-header="false"
    data-adapt-container-width="true"
    data-hide-cover="false"
    data-show-facepile="true"
  >
    <blockquote
      cite="https://www.facebook.com/silberschmiedethun"
      class="fb-xfbml-parse-ignore"
    >
      <a href="https://www.facebook.com/silberschmiedethun"
        >Silberschmiede-Thun Yvonne Schediwy &amp; Sara Lehmann</a
      >
    </blockquote>
  </div>
</div>
